{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-11 text-right">
            <div class="row">
                <div class="col-md-6">
                    <p>Sorting by date:</p>
                    <button class="btn btn-default" id="sortASC">ASC</button>
                    <button class="btn btn-default" id="sortDESC">DESC (Default)</button>
                </div>
                <div class="col-md-6">
                    <p>Sorting by likes:</p>
                    <button class="btn btn-default" id="sortLikesASC">ASC</button>
                    <button class="btn btn-default" id="sortLikesDESC">DESC (Default)</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <button class="btn btn-primary add--comment" id="newComment">New Comment</button>
            <div class=" welcome">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-right">{{ comment.author }}</h3>
                            </div>
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p class="text-justify">{{ comment.feedback }}</p>
                                    <hr>
                                    <footer current="{{ comment.id }}">
                                        {% if comment.liked %}
                                            <i class="fa fa-thumbs-up like" aria-hidden="true" likes="{{ comment.likes }}"></i>
                                        {% else %}
                                            <i class="fa fa-thumbs-o-up like" aria-hidden="true" likes="{{ comment.likes }}"></i>
                                        {% endif %}
                                        {{ comment.likes }}
                                        <span class="comment--date">{{ comment.published_at|date("d.m.Y") }}</span>
                                        <hr>
                                        <a class="comment--link" href="/comment/{{ comment.id }}">Go to details >></a>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <h1>There is no comments yet.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
